.feedback-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50.6rem;
  flex-grow: 1;
  border: 0.1rem solid hsl(0, 0%, 80%);
  border-radius: 1.6rem;
  padding-block: 2.4rem;
  padding-inline: 2.4rem;
  background-color: hsl(0, 0%, 100%);
  gap: 1.6rem;
  flex-shrink: 0;

  .info {
    display: flex;
    justify-content: space-between;

    .person {
      display: grid;
      align-items: center;
      grid-template-areas: "img name" "img date";
      gap: 1.6rem;
    }

    .img {
      grid-area: img;
    }

    .name {
      grid-area: name;
      color: hsl(0, 0%, 23%);
      font-weight: bold;
    }

    .date {
      grid-area: date;
      color: hsl(0, 0%, 61%);
      font-size: 1.2rem;
    }

    .rate {
      font-size: 1.4rem;
      color: hsl(0, 0%, 25%);
      align-self: flex-start;
      display: flex;
      justify-content: center;
      gap: 0.4rem;
    }
  }

  p {
    color: hsl(0, 0%, 61%);
    font-size: 1.2rem;
    line-height: 1.7;
  }

  button {
    margin-block-start: 0.8rem;

    border: none;
    font-size: 1.2rem;
    align-self: flex-end;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    color: hsl(173, 57%, 28%);
    background-color: hsl(0, 0%, 100%);
  }
}
