.button {
  padding-inline: 1.6rem;
  padding-block: 0.5rem 0.7rem;
  border-radius: 0.5rem;

  --active-color: hsl(173, 57%, 28%);
  --contrast-active-color: hsl(0, 0%, 98%);

  --hover-color: hsl(173, 57%, 28%);
  --contrast-hover-color: hsl(0, 0%, 98%);

  --disabled-color: hsl(0, 0%, 75%);
  --contrast-disabled-color: hsl(0, 0%, 98%);

  &.fill {
    background-color: var(--active-color);
    color: var(--contrast-active-color);
    border: none;
  }

  &.outline {
    background-color: transparent;
    color: var(--active-color);
    border: 0.1rem solid var(--active-color);
  }

  &.text {
    background-color: transparent;
    color: var(--active-color);
    border: none;
  }

  &.primary {
    --active-color: hsl(173, 57%, 28%);
    --contrast-active-color: hsl(0, 0%, 98%);

    --hover-color: hsl(173, 57%, 20%);
    --contrast-hover-color: hsl(0, 0%, 98%);
  }

  &.secondary {
    --active-color: hsl(36, 100%, 63%);
    --contrast-active-color: hsl(0, 0%, 25%);

    --hover-color: hsl(36, 100%, 50%);
    --contrast-hover-color: hsl(0, 0%, 98%);
  }

  &.black {
    --active-color: hsl(0, 0%, 7%);
    --contrast-active-color: hsl(0, 0%, 98%);

    --hover-color: hsl(0, 0%, 0%);
    --contrast-hover-color: hsl(0, 0%, 98%);
  }

  &.white {
    --active-color: hsl(0, 0%, 98%);
    --contrast-active-color: hsl(0, 0%, 7%);

    --hover-color: hsl(0, 0%, 90%);
    --contrast-hover-color: hsl(0, 0%, 98%);
  }

  &.small {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &.medium {
    font-size: 1.6rem;
  }

  &.large {
    font-size: 1.6rem;
  }

  &.huge {
    font-size: 2rem;
  }

  &:hover {
    --active-color: var(--hover-color);
    --contrast-active-color: var(--contrast-hover-color);
  }

  &[disabled] {
    --active-color: var(--disabled-color);
    --contrast-active-color: var(--contrast-disabled-color);
  }
}
