.hero {
  position: relative;
  background-image: repeating-linear-gradient(
    hsl(173, 57%, 28%) 0%,
    hsl(173, 100%, 18%) 100%
  );
  isolation: isolate;
  padding-block-start: 5rem;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;

  .background {
    display: flex;
    position: absolute;
    z-index: -1;
    block-size: 100%;
  }

  .title {
    padding-block-end: 3.2rem;
    text-align: center;
    justify-content: center;
    display: flex;
    max-inline-size: 55%;

    > div {
      font-size: 4.5rem;
      font-weight: bold;
      color: hsl(0, 0%, 98%);
      align-self: center;
    }

    .quotaion-start {
      align-self: flex-start;
    }
    .quotaion-end {
      align-self: flex-end;
    }
  }

  .subtitle {
    font-size: 2rem;
    color: hsl(0, 0%, 95%);
    padding-block-end: 2.5rem;
  }

  .search {
    position: relative;
    inset-block-end: -4rem;
  }
}
