.news-letter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(173, 57%, 28%);
  position: relative;
  padding-inline-end: 12rem;
  padding-block: 3.6rem;
  gap: 2.4rem;
  margin-block-start: 24rem;

  p {
    font-size: 3.2rem;
    font-weight: bold;
    color: hsl(36, 100%, 87%);
    margin-inline-end: 2.4rem;
  }

  .imagediv {
    position: absolute;
    inset-block-end: 0;
    right: 10rem;
  }

  .imagediv img {
    width: 30.3rem;
    display: block;
  }
}
