.favorite {
  display: flex;
  justify-content: space-between;

  p {
    flex-shrink: 0;
  }
  p > span {
    font-weight: bold;
    color: hsl(173, 57%, 28%);
  }
  .title-text {
    font-size: 2rem;
  }
  .subtitle-text {
    font-size: 1.6rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
  }

  hr {
    color: gray;
    border-width: 0.1rem;
    margin: 1.6rem;
    align-self: flex-start;
    width: 100%;
  }
}
