.favorite {
  display: flex;
  justify-content: space-between;
  padding-block: 14.4rem 5.6rem;

  p {
    flex-shrink: 0;
  }
  p > span {
    font-weight: bold;
    color: hsl(173, 57%, 28%);
  }
  hr {
    color: gray;
    border-width: 0.1rem;
    margin: 1.6rem;
    align-self: flex-start;
    width: 100%;
  }
}
