.bottom-banner-card {
  gap: 1.6rem;
  display: grid;
  justify-content: flex-start;

  .title {
    font-weight: bold;
    color: hsl(0, 0%, 25%);
  }

  .subtitle {
    font-size: 1.2rem;
    line-height: calc(155% + 0.4rem);
  }

  img {
    inline-size: 5.6rem;
  }
}
