.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 5rem;
  background-image: repeating-linear-gradient(
    hsl(173, 57%, 28%),
    hsl(173, 100%, 18%) 2%
  );

  p {
    flex-shrink: 0;
  }

  p > span {
    font-weight: bold;
    color: hsl(173, 57%, 28%);
  }

  hr {
    color: gray;
    border-width: 0.1rem;
    margin: 1.6rem;
    align-self: flex-start;
    width: 100%;
  }

  .title {
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    width: 55%;
    padding-block-end: 3.2rem;
    text-align: center;
  }

  .subtitle {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    padding-block-end: 2.5rem;
  }

  .search {
    display: flex;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    width: 45%;
    position: relative;
    inset-block-end: -3.5rem;
  }

  .search button {
    color: hsl(174, 57%, 26%);
    width: 20rem;
    margin-block: 2rem;
    margin-inline: 2rem;
    border-color: hsl(174, 57%, 26%);
    border-width: 0.1rem;
    border-radius: 0.7rem;
    padding-block: 0.8rem;
    padding-inline: 1.6rem;
  }

  .search input {
    background-color: transparent;
    outline: none;
    height: 3rem;
    font-size: 1.6rem;
    border: 0;
    width: 100%;
    margin-block-start: 2.5rem;
  }

  .faSearch {
    width: 3.2rem;
    height: auto;
    color: hsl(0, 0%, 57%);
    padding-block: 2.4rem;
    padding-inline: 2.4rem 0.8rem;
  }

  .mapcity {
    margin-inline: 0.8rem;
  }
}
