.feedback {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5.6rem;
  margin-block-end: 14.4rem;
  position: relative;

  .title-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1.2rem;
    align-items: center;
    padding-inline: 12rem;
    overflow: hidden;

    > div {
      font-weight: bold;
      font-size: 2.4rem;
      > span {
        color: hsl(173, 57%, 28%);
      }
    }
  }
  .container {
    display: flex;
    /*grid-template-columns: 1fr 2fr 3fr 2fr 1fr;*/
    align-items: center;
    overflow: hidden;
    gap: 2.4rem;
  }

  .message-div {
    inset-block-end: -8rem;
    inset-inline-end: 5rem;
    position: absolute;
  }
}
