.feedback {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5.6rem;
  margin-block-end: 14.4rem;
  position: relative;
}
.container {
  display: flex;
  gap: 2.4rem;
}
.message-div {
  inset-block-end: -8rem;
  inset-inline-end: 5rem;
  position: absolute;
}
