.infoNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.6rem;

  .social {
    display: flex;
    gap: 2.4rem;
  }
  .icons {
    font-size: 2.4rem;
  }
  nav > ul {
    display: flex;
    gap: 2.4rem;
    list-style: none;
  }
  nav > ul > li > a {
    text-decoration: none;
    color: hsl(0, 0%, 46%);
  }
  nav .address {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
}
