.footer {
  display: grid;
  padding-block: 4.8rem;
  padding-inline: 12rem;
  gap: 4.8rem;

  .social {
    display: flex;
    justify-content: space-between;
    padding-block-start: 2.4rem;
    border-top: hsl(0, 0%, 57%) 1px solid;
  }
  .social > div {
    display: flex;
  }
  .social p {
    padding-inline-start: 0.8rem;
  }
  .social-icons {
    display: flex;
    gap: 1.6rem;
  }
  .icons {
    width: 2.4rem;
    height: 2.4rem;
  }
}
