.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 2.4rem;

  .menu {
    display: flex;
    gap: 4rem;
  }
  .main-logo {
    display: grid;
    grid-template-areas:
      "logo nobito"
      "logo platform";
  }
  .logo {
    grid-area: logo;
    width: 65px;
  }
  .nobito {
    grid-area: nobito;
    width: 61px;
  }
  .platform {
    grid-area: platform;
    width: 106px;
  }
  nav > ul {
    display: flex;
    list-style: none;
    gap: 2.4rem;
  }
  nav > ul > li > a {
    text-decoration: none;
    color: hsl(0, 0%, 46%);
  }
  .main-nav-button {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .loginbtn {
    color: hsl(0, 0%, 98%);
    text-align: center;
    padding-inline: 1.4rem;
    padding-block: 1.2rem;
    background-color: hsl(173, 57%, 28%);
    border-radius: 0.8rem;
    border: none;
    font-size: 1.6rem;
  }
  .bell {
    width: 3rem;
    height: 3rem;
  }
}
