.search {
  display: flex;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);

  max-inline-size: 55%;
  margin-block-start: 4.8rem;
  margin-inline-start: 12rem;

  input {
    font-size: 2rem;
    border: 0;
    outline: none;
    flex: 1 1 0;
  }

  .search-icon {
    margin-block: 2.4rem;
    margin-inline: 2.4rem 0.8rem;
  }

  button {
    color: hsl(174, 57%, 26%);
    border: 0.1rem solid hsl(174, 57%, 26%);
    background-color: transparent;
    border-radius: 0.7rem;
    font-size: 1.6rem;
    margin-block: 2rem;
    margin-inline: 2rem;
    padding-block: 0.8rem;
    padding-inline: 1.6rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}
