.consult {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-direction: column;
  border-radius: 1.6rem;
  width: 28.2rem;
  height: 34.9rem;
  padding: 1.6rem;
  border: 0.1rem solid #b5afaf;
  box-sizing: border-box;
}
.consultpic {
  border-radius: 50%;
  border: 0.1rem solid #a3a3a3;
  padding: 0.8rem;
  width: 10.4rem;
}
.consult p {
  margin: 0;
  flex-shrink: 0;
}
.name {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.star {
  color: gold;
}
.special {
  color: #919191;
}

.fields {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.8rem;
}
.fields button {
  background-color: #757575;
  color: #c0c0c0;
  border-radius: 2.4rem;
  border: none;
  font-size: 1rem;
  /*width: 8rem;*/
}

.consult hr {
  color: gray;
  border-width: 1px;
  margin: 1.6rem;
  width: 100%;
  align-self: center;
  /*flex: 1;*/
  height: 0;
}
.appointment {
  border-radius: 2.4rem;
  height: 4rem;
  border: 0.1rem solid #121212;
  color: #121212;
  width: 100%;
}
