.feedback-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50.6rem;
  flex-grow: 1;
  border: 0.1rem solid #b5afaf;
  border-radius: 1.6rem;
  padding-block: 2.4rem;
  padding-inline: 2.4rem;
  background-color: hsl(0, 0%, 100%);

  .info {
    display: flex;
    justify-content: space-between;
    padding-block-end: 2.4rem;
  }
  .person {
    display: grid;
    grid-template-areas: "img name" "img date";
    gap: 1.6rem;
  }
  .img {
    grid-area: img;
    padding-inline-start: 1.6rem;
  }
  .name {
    grid-area: name;
    padding-block-start: 0.8rem;
  }
  .date {
    grid-area: date;
    color: hsl(0, 0%, 61%);
    font-size: 1.2rem;
  }
  .rate {
    font-size: 1.4rem;
    color: hsl(0, 0%, 25%);
    padding-block-start: 0.8rem;
  }
  .star {
    color: hsl(51, 100%, 50%);
  }
  button {
    margin-block-start: 1.6rem;

    border: none;
    font-size: 1.2rem;
    align-self: flex-end;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    color: hsl(173, 57%, 28%);
    background-color: hsl(0, 0%, 100%);
  }
}
