.feedback-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.4rem;
  width: 50.6rem;
  height: 26rem;
  border: 0.1rem solid #b5afaf;
  border-radius: 1.6rem;
  padding: 2.4rem;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.person {
  display: grid;
  grid-template-areas: "img name" "img date";
}
.img {
  grid-area: img;
  width: 7.2rem;
  height: 7.2rem;
  margin-left: 1.6rem;
}
.name {
  grid-area: name;
  margin-top: 0.8rem;
}
.date {
  grid-area: date;
  color: #9c9c9c;
  font-size: 1.2rem;
  margin: 0;
}
.feedback-card button {
  align-self: flex-end;
}
.rate {
  font-size: 1.4rem;
  color: #414141;
  margin-top: 0.8rem;
}
.star {
  color: gold;
}
.suggest {
  margin-top: 1.6rem;
  border: none;
  color: #1f7168;
  width: 9.7rem;
  font-size: 1.2rem;
}
