body {
  /*text-align: center;*/
  font-family: IRANSans, sans-serif;
  font-size: 1.6rem;
  color: #757575;
  margin: 0;
  padding: 4.8rem 12rem;
}

input,
button {
  font:
    1.6rem IRANSans,
    sans-serif;
}
